html
	body
		div.container.signup
			h1 Log In
			form(action="/login", method="post")
				div.form-group
					label Email
					input(type="text", name="email")
				div.form-group
					label Password
					input(type="Password", name="password")
				button(type="submit") Login