html
	head
	body
		div.container
			form(action="/l", method="post")
				div.form-group
					label Featured
					input(type="text", name="featured")
				div.form-group
					label Videos
					input(type="Videos", name="videos")
				button(type="submit") Upload Library
	script.
		window.App = !{JSON.stringify(user)};
		console.log(window.App);
