body,
html {
  padding: 0;
  margin: 0;
  background: #141414;
  font-family: 'Lato', 'Helvetica Nueue', Helvetica, sans-serif;
  color: #999999;
  font-size: 15px;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
* {
  box-sizing: border-box;
}
h1 {
  color: #fff;
  margin: 0 0 15px 0;
}

a {
  -webkit-transition: color 150ms;
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
}
a:hover {
  color: #7f8c8d;
  text-decoration: underline;
}
input:focus, textarea:focus {
  outline: none;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
