nav {
  position: fixed;
  top: 0;
  display: flex;
  padding: 0 5%;
  height: 75px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 100%;
}
.nav {
	display: flex;
	align-items: center;
}

	.nav__item {
		color: #fff;
		font-size: 1.3rem;
		font-weight: 300;
    opacity: 0.5;
    margin-right: 15px;
    &:hover {
      color: #fff;
      opacity: 0.8;
    }
	}
  .nav__item--active  {
    opacity: 1;
    &:hover {
      color: #fff;
    }
  }
	.nav__item--pull-right {
	  margin-left: auto;
	}
  .nav__item:last-child {
    margin-right: 0;
  }
	.nav__item--brand {
	  color: $primary;
	  font-size: 3.2rem;
	  font-family: "graphique";
	}
