nav {
  position: fixed;
  top: 0;
  display: flex;
  padding: 0 5%;
  height: 65px;
  background: #121212;
  z-index: 1000;
  width: 100%;
}
.nav {
	display: flex;
	align-items: center;
}

	.nav__item {
		color: #fff;
		font-size: 1.3rem;
		font-weight: 300;
    opacity: 0.5;
    margin-right: 15px;
    &:hover {
      color: #fff;
      opacity: 0.8;
    }
	}
  .nav__item--active  {
    opacity: 1;
    &:hover {
      color: #fff;
    }
  }
	.nav__item--pull-right {
	  margin-left: auto;
	}
  .nav__item:last-child {
    margin-right: 0;
  }
	.nav__item--brand {
	  color: $primary;
	  font-size: 3.2rem;
	  font-family: "graphique";
    opacity: 1;
	}

.dropdown {
  display: inline-block;
}
.dropdown__content {
  display: none;
  position: absolute;
  background: #0A0A0A;
  width: 300px;
}
.dropdown--active .dropdown__content {
  display: block;
}
