.hero-wrapper {
  
  .slick-prev, .slick-next {
    position: absolute;
    margin-top: 0;
    top: 0;
    height: 100%;
    bottom: 0;
    opacity: 1.0;
    width: 50px;
    &:hover {
      opacity: 1.0;
    }
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }

  .slick-dots {
    bottom: 20px;
    // li:first-child {
    //   margin-left: 
    // }
    li {
      margin: 0;
    }
    button {
      height: 30px;
    }
    button:before {
      top: 8px;
      left: 4px;
      width: 12px;
      height: 12px;
      content: '';
      background: #fff;
      border-radius: 50%;
      opacity: 0.5;

    }
    .slick-active button:before {
      opacity: 1.0;
    }
  }
}
.hero-row {
  position: relative;
  padding-bottom: 10%;
  margin-bottom: 20px;
}

  .hero {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
  }
    .hero-image {
      position: absolute;
      height: 100%;
      width: 54%;
      right: 0;
      top: 0;
      z-index: 1;
    }
    .vignette {
      background-image: linear-gradient(to right,#000 0,transparent 33%,transparent 100%);
      width: 54%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
    }
    .hero-info {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3; 
    }
      .hero-details {
        position: absolute;
        left: 4%;
        top: 26%;
        width: 35%;
        z-index: 3;
      }
        .hero-details__title {
          font-size: 2.4rem;
          font-weight: 300;
          line-height: 1.5;
          vertical-align: bottom;
          text-transform: uppercase;
        }
        .hero-details__description {
          font-size: 1.4rem;
          line-height: 1.5;
          font-weight: 300;
          margin-bottom: 40px;
        }
    .play-hero {
      position: absolute;
      top: 50%;
      right: 300px;
      display: block;
      width: 100px;
      height: 100px;
      z-index: 3;
      background: orange;
    }
      .play-button {
        display: block;
        border-radius: 50%;
        border: 4px solid #fff;
        height: 100%
      }