@import "mixins/_media-queries.scss";

.contain {
  width: 100%;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.container--medium {
  padding: 10px;
	width: 450px;
}
.container--small {
  width: 300px
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
