@import "mixins/_media-queries.scss";

.contain {
  padding-top: 70px;
  width: 100%;
}


.container--sidebar {
  float: left;
  width: 450px;
  overflow-y: scroll;
}
.container--main {
  float: left;
  width: calc(100% - 450px);
  overflow-y: scroll;
}

.container {
  width: 100%;
  margin: 0 auto;
}
.container--medium {
  padding: 10px;
	width: 450px;
}
.container--small {
  width: 300px
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
